pytz
shap
peft==0.17.1
nltk
mteb==1.12.5
torch
scipy
numpy
gritlm>=1.0.1
openai
xgboost
seaborn
hf_transfer
hyperopt
networkx
openpyxl
geomloss
rank_bm25
faiss-gpu-cu12
anthropic
setuptools
sqlalchemy
bert-score
xlsxwriter
matplotlib
accelerate
statsmodels
rouge_score
torchvision
scikit-learn
transformers>=4.38.0,<4.40.0
huggingface_hub>=0.34.0
sentence_transformers>=2.7.0,<3.0.0
optuna
wandb
datasets