accelerate
anthropic
bert-score
datasets
faiss-gpu-cu12
gritlm>=1.0.1
hf_transfer
huggingface_hub>=0.34.0
hyperopt
matplotlib
nltk
numpy
openai
optuna
peft==0.17.1
pyarrow
pytz
requests
rouge_score
scikit-learn
scipy
sentence_transformers>=2.7.0,<3.0.0
setuptools<81
shap
sqlalchemy
statsmodels
torch
torchvision
tqdm
transformers>=4.43.0,<4.54.0
xgboost
